/* Desktop text width constraints */
.about-details-container,
.details-container {
  max-width: 1300px;
  margin: 0 auto;
}

.text-container {
  max-width: 800px;
  margin: 0 auto;
}

arrow {
  position: absolute;
  right: 2rem;
  bottom: 2.5rem;
  display: block !important;
}

@media screen and (min-width: 1600px) {
  .arrow {
    right: 5rem;
    display: block !important;
  }
}

@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }

  .about-containers {
    flex-wrap: wrap;
  }

  .section__text__p1 {
    margin-top: 1.2rem;
  }
  .arrow {
    right: 1rem;
    display: block !important;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }

  #profile,
  .section-container {
    display: block;
  }

  section,
  .section-container {
    height: fit-content;
  }

  section {
    margin: 0 5%;
  }

  .section__pic-container {
    width: 300px;
    height: 300px;
    margin: 0 auto 2rem;
  }

  .about-containers {
    margin-top: 0;
  }
  .arrow {
    right: 0.5rem;
    display: block !important;
  }
}

@media screen and (max-width: 800px) {
  .arrow {
    display: none !important;
  }

  .about-containers {
    margin-top: 1rem;
  }

  .details-container {
    margin: 1rem;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }

  #profile {
    height: 83vh;
    margin-bottom: 0;
  }

  #article {
    font-size: 1rem;
  }

  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }

  .contact-info-container {
    margin: 0;
  }

  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }

  .details-container p {
    font-size: 1.5rem;
  }

  .experience-sub-title {
    font-size: 1.2rem;
  }

  .section__text__p1 {
    margin-top: 1rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }

  .section__text__p1 {
    margin-top: 1rem;
  }

  .section__text__p2 {
    font-size: 1.25rem;
  }

  .title {
    font-size: 2rem;
  }

  .text-container {
    text-align: justify;
  }
}
